extends layout
block content
    header  
        div.logo-container 
            span.menu#menu(title="Menu")
                span.icon-list2
                span.icon-arrow-down42 
        div.busqueda-principal
            label
                input(type="text" id="txt-busqueda-principal")
                span.icon-search
        if(data)
            div.user
                a
                    spa.icon-bell
                a #{data.usuario}
                a 
                    img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c9.9.111.111/s50x50/1045248_10201550652195117_1560511763_s.jpg")
        else
            div.iniciar_sesion
                a.boton(href='/login') Login

        ul.menu-lista.display-none
            li
                spa.icon-house
                a(href="/") Inicio
            li.separador
            li
                span.icon-video
                a Videotutoriales
            li
                span.icon-text
                a Tutoriales
            li
                span.icon-docs
                a Manuales
            if(data)
                li.separador
                li
                    span.icon-cross3
                    a(href="/logout") Salir

    if(data)
        script(type="text/javascript")
            | var socket = io.connect();
            | datos = {id_usuario: '#{data.id_usuario}',avatar: '#{data.avatar}', usuario: '#{data.usuario}', nombre_usuario: '#{data.nombre_usuario}' }
            | socket.emit('generar_canal', datos);