extends layout
block content
    header  
        div.logo-container 
            span.menu#menu(title="Menu")
                span.icon-list2
                span.icon-arrow-down42 
        div.busqueda-principal
            label
                input(type="text" id="txt-busqueda-principal")
                span.icon-search
        if(data)
            div.user
                a
                    spa.icon-bell
                a(title="Editar Perfil", href="/edit_perfil") #{data.usuario}
                a(href="/edit_perfil")
                    img(src="#{data.avatar}", title="Editar Perfil", href="/edit_perfil")
        else
            div.iniciar_sesion
                a.boton(href='/login')
                    span.icon-login
                    | Login

        ul.menu-lista.display-none
            li
                spa.icon-house
                a(href="/") Inicio
            li.separador
            li
                span.icon-video
                a(href="/videotutoriales") Videotutoriales
            li
                span.icon-text
                a(href="/tutoriales") Tutoriales
            li
                span.icon-docs
                a Guias
            if(data)
                li.separador
                li
                    span.icon-cross3
                    a(href="/logout") Salir            

    if(data)
        if(edit_perfil)
            section#editar_perfil.editar_pefil
                article
                    form(id="frm-edit-avatar", name="frm-edit-avatar", action="/edit_avatar", method="post")
                        img(src="#{data.avatar}")
                        input(type="url", id="txt-avatar-perfil", name="txt-avatar-perfil", required, placeholder="Url del Avatar")
                        button.boton Cambiar Avatar
                        button.boton(type="button", id="btn-vista-previa-avatar") Vista Previa

                article Cambiar Contraseña
                    form(id="frm-edit-perfil", name="frm-edit-perfil")
                        input(type="password", id="txt-pass-actual-perfil", name="txt-pass-actual-perfil", pattern="[a-zA-Z0-9]{5,}", title="Minimo de 5 Caracteres", required, placeholder="Contraseña Actual")
                        input(type="password", id="txt-nueva-pass-perfil", name="txt-nueva-pass-perfil", pattern="[a-zA-Z0-9]{5,}", title="Minimo de 5 Caracteres", required, placeholder="Contraseña Nueva")
                        input(type="password", id="txt-conf-nueva-pass-perfil", name="txt-conf-nueva-pass-perfil", pattern="[a-zA-Z0-9]{5,}", title="Minimo de 5 Caracteres", required, placeholder="Confirmar Contraseña")
                        button.boton(type="button", id="btn-cambiar-contrasena") Cambiar Contraseña
                div#msj_edit_perfil.msj_edit_perfil
        script(type="text/javascript")
            | var socket = io.connect();
            | datos = {id_usuario: '#{data.id_usuario}',avatar: '#{data.avatar}', usuario: '#{data.usuario}', nombre_usuario: '#{data.nombre_usuario}' }
            | socket.emit('generar_canal', datos);
    if(post)
        section.inicio_pagina#inicio-pagina
            each data_post in post
                article(id="#{data_post.id}")
                    a(href="#{data_post.link}")
                        div.cabezote
                            if(data_post.categoria=='Guia')
                                span.icon-docs
                            if(data_post.categoria=='Tutorial')
                                span.icon-text
                            if(data_post.categoria=='Videotutorial')
                                span.icon-video
                            |#{data_post.categoria}
                        img(src="#{data_post.url_img}")
                        p.titulo #{data_post.titulo}
                        p #{data_post.contenido}
                        div.mas.display-none
                            p
                                span.icon-pencil
                                |Por #{data_post.nombre_usuario}
                            p.comentarios
                                span.icon-comment
                                |#{data_post.cantidad_comentarios} Comentarios
                            p
                                span.icon-calendar
                                |#{data_post.fecha_larga}
    if(videotutorial)
        section.videotutorial
            article
                h1.titulo #{videotutorial[0].titulo}
                hr
                p.tiempo
                    span.icon-clock
                    |Publicado el #{videotutorial[0].fecha_larga}
                div.contenido #{videotutorial[0].contenido}
                iframe.youtube-player(type="text/html", frameborder="0", src="https://www.youtube.com/embed/#{videotutorial[0].url_video}", allowFullScreen)
                div.informacion-adicional
                    img(src="#{videotutorial[0].avatar}")
                    p #{videotutorial[0].nombre_usuario}
                    p #{videotutorial[0].cantidad_comentarios} Comentarios            
            article.post
                h2 Post mas Comentados
                div
                    img(src="/images/logos/html5-logo.png")
                    p titulo
                    p ajdjsdnsajdnadj...
                div
                    img(src="/images/logos/html5-logo.png")
                    p titulo
                    p ajdjsdnsajdnadj...
                div
                    img(src="/images/logos/html5-logo.png")
                    p titulo
                    p ajdjsdnsajdnadj...
                div
                    img(src="/images/logos/html5-logo.png")
                    p titulo
                    p ajdjsdnsajdnadj...
                div
                    img(src="/images/logos/html5-logo.png")
                    p titulo
                    p ajdjsdnsajdnadj...
            div.comentarios
                div
                    img(src="#{videotutorial[0].avatar}")
                    p adfndjsfn f dfnkdsnknknknkn dknfkdn fkdn fdnk fdknfkd nfkdnfk ndkfn dknf dknfk dkfn dknf dknf kdnf kdn fkdn kfnd kndf dknf kdnf kdnf kdn fkdn fkndk dnfkdn jsadhjadjasdjashd asjhdjsahdjahsdjhad jahdjhajdhasdjashdjsa djashdjas d
                    p Por Omar Salgado
                    p
                        span.icon-clock
                        |El 14 de Algo
                div
                    img(src="#{videotutorial[0].avatar}")
                    p adfndjsfn f dfnkdsnknknknkn dknfkdn fkdn fdnk fdknfkd nfkdnfk ndkfn dknf dknfk dkfn dknf dknf kdnf kdn fkdn kfnd kndf dknf kdnf kdnf kdn fkdn fkndk dnfkdn jsadhjadjasdjashd asjhdjsahdjahsdjhad jahdjhajdhasdjashdjsa djashdjas d
                    p Por Omar Salgado
                    p
                        span.icon-clock
                        |El 14 de Algo
                div
                    img(src="#{videotutorial[0].avatar}")
                    p adfndjsfn f dfnkdsnknknknkn dknfkdn fkdn fdnk fdknfkd nfkdnfk ndkfn dknf dknfk dkfn dknf dknf kdnf kdn fkdn kfnd kndf dknf kdnf kdnf kdn fkdn fkndk dnfkdn jsadhjadjasdjashd asjhdjsahdjahsdjhad jahdjhajdhasdjashdjsa djashdjas d
                    p Por Omar Salgado
                    p
                        span.icon-clock
                        |El 14 de Algo

                                
    if(error)
        section.error-index#error
            div #{error}
                span.icon-cross#close-error
    section.error-index.display-none#error_socket
        div
            span.icon-cross#close-error